body {
  background-image: url("/static/one.jpg");
  /* background-color: rgb(237, 111, 161); */
  color: #000;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  line-height: 1.42857143;
  margin: 0;
  padding: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  width: auto;
}

a a:hover a:focus a:hover {
  text-decoration: none;
}

.top-menu {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 20px;
  color: #000;
}
.top-menu a {
  text-decoration: none;
  color: #000;
  font-size: 18px;
  font-family: "Arvo", cursive;
}

