<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />
    <link href="https://fonts.googleapis.com/css?family=Arvo" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Josefin+Slab" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Satisfy" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/static/css/base.css"></link>
    {% block style %}
    
    {% endblock %}
 
     
    <title>PCOS APP</title>
  </head>
  <body>
    <nav>
      <div class="container">
        <div class="row">
          <div class="col-md-2 col-xs-2 top-menu">
            <a href="/">Registration</a>
          </div>
          <div class="col-md-2 col-xs-2 top-menu">
            <a href="/signin"><span style="text-align: center">Login</span></a>
          </div>
          <div class="col-md-2 col-xs-2 top-menu">
            <a href="/test">Test</a>
          </div>
          <div class="col-md-2 col-xs-2 top-menu">
            <a href="/about">About</a>
          </div>
        </div>
      </div>
    </nav>


    {% block content %}

    {% endblock %}

    {% block script %}

    {% endblock %}
  </body>
</html>
